<carousel interval="3000" class="carrusel">
  <slide ng-repeat="slide in slides" active="slide.active">
    <div class="imagenCarrusel" style="background-image: url({{slide.imagen}})"></div>
    <div class="carousel-caption">
      <h2>{{slide.titulo}}</h2>
    </div>
  </slide>
</carousel>

<section>
  <div class="jumbotron">
    <div class="descripcion">
      <p>
        <span class="capitular rojitoColor">S</span>eguro Papá es un seguro de vida diseñado especialmente para el Papá y sus hijos. Puede ser contratado en plazos renovables de 5, 10, 15 y 20 años o vitalicio. Permite la incorporación de cláusulas adicionales para los hijos, tales como Cobertura de Reembolso de Gastos Funerarios y Cláusula de Ayuda Educacional.
      </p>
      <p>
        Además, entrega la opción de contratar una Cobertura Oncológica al Papá, por medio de un convenio con el Instituto de Radio Medicina de Chile IRAM.
      </p>
    </div>
  </div>
  <aside class="descargas">
    <h2 class="rojitoColor">Descarga</h2>
    <a class="adjunto" href="#">
      <span>Nombre de Archivo</span>
      <img src="images/pdf.png" alt="">
    </a>  
  </aside>
  
</section>
